body {
  background-color: #1a2140;
}
p {
  color: white;
  font-family: arial;
  width: 30ch;
  text-align: center;
}

.container-home {
  margin: auto auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 1140px;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

img {
  width: 320px;
}
